#qr_scan_status {
  line-height: 48px;
  height: 48px;
  padding-right: 16px;
  display: inline-block;
}
#qr_scan_status img {
  display: block;
  height: 32px;
  padding: 8px 0;
}
#qr_scan_background {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}
#qr_scan_background > div {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}
#qr_scan_background .close-button {
  cursor: default;
}
.result-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all ease-in-out .5s;
  display: none;
  z-index: 1;
}
.result-bg.show {
  opacity: 1;
}
#result_dialog {
  width: 320px;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-top: -600px;
  margin-left: auto;
  margin-right: auto;
  transition: margin-top ease-in-out .5s;
}
#result_dialog.with-family {
  width: 560px;
}
#result_dialog.with-family .left {
  float: left;
  width: 320px;
}
#result_dialog .right {
  display: none;
}
#result_dialog.with-family .right {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 238px;
  border-left: solid 1px #aaa;
  height: 100%;
}
#result_dialog.show {
  margin-top: 40px;
}
#result_dialog .dialog-content {
  width: 100%;
  height: 380px;
  border-bottom: 1px solid #aaa;
  box-sizing: border-box;
}
#result_dialog #result {
  width: 100%;
  border: none;
}
#result_dialog #result td {
  width: 50%;
  padding: 4px 8px;
  border: none;
}
#result_dialog #result td.title,
#result_dialog .right-pane-header {
  border-bottom: 1px solid #aaa;
  padding: 12px 16px 8px;
}
#result_dialog #result #first_name,
#result_dialog #result #last_name {
  font-size: 1.4rem;
}
#result_dialog #result #first_name_kana,
#result_dialog #result #last_name_kana {
  padding-top: 10px;
  font-size: 0.8rem;
}
#result_dialog #result td:first-child {
  text-align: right;
}
#result_dialog #result td:last-child {
  text-align: left;
}
#result_dialog .numpad {
  margin-top: 8px;
  border: none;
  border-top: 1px solid #aaa;
}
#result_dialog .numpad td {
  position: relative;
  padding: 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
  height: 48px;
  width: 64px;
  text-align: center;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  cursor: default;
  background-color: #eee;
}
#result_dialog .numpad td:last-child {
  border-right: none;
}
#result_dialog .numpad td.number-of-visitor {
  text-align: right;
  padding: 0 16px;
  font-size: 1.6rem;
  background-color: #333;
  color: #fff
}
#result_dialog .numpad td.number-of-visitor .label {
  position: absolute;
  left: 16px;
  top: 20px;
  font-size: 1.0rem;
}
#result_dialog .numpad td.number-of-visitor .unit {
  font-size: 1.0rem;
}
#result_dialog .numpad td.del,
#result_dialog .numpad td.clear {
  background-color: #ff793f;
  color: #fff;
  font-size: 1.0rem;
}
#result_dialog .numpad td.num:hover {
  background-color: #e0e0e0;
}
#result_dialog .numpad td.num:active {
  background-color: #d7d7d7;
}
#result_dialog .numpad td.del:hover,
#result_dialog .numpad td.clear:hover {
  background-color: #fa703a;
}
#result_dialog .numpad td.del:active,
#result_dialog .numpad td.clear:active {
  background-color: #f06b30;
}
#result_dialog .list-wrapper {
  overflow-y: auto;
  height: calc(100% - 53px);
  padding: 4px 0;
}
#result_dialog #family_list {
  list-style: none;
  padding: 0 16px;
}
#result_dialog #family_list li {
  line-height: 2em;
  font-size: 1.2em;
}
.num-flash {
  animation-name: num-flash;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@keyframes num-flash {
  0%, 100% {
    background-color: #eee;
  }
  50% {
    background-color: #d7d7d7;
  }
}
.ctrl-flash {
  animation-name: ctrl-flash;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@keyframes ctrl-flash {
  0%, 100% {
    background-color: #ff793f;
  }
  50% {
    background-color: #f06b30;
  }
}
#result_dialog .footer-button {
  border: none;
  outline: none;
  width: 50%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: transparent;
}
#result_dialog .footer-button:hover {
  background-color: #fafafa;
}
#result_dialog .footer-button:active {
  background-color: #f0f0f0;
}
#result_dialog .footer-button:first-child {
  border-right: 1px solid #aaa;
  border-bottom-left-radius: 4px;
}
#result_dialog .footer-button:last-child {
  border-bottom-right-radius: 4px;
}
