* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f7f1e3;
  position: relative;
}
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'] {
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  min-width: 120px;
}
input[type='number'] {
  text-align: right;
}
textarea {
  padding: 8px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  width: 190px;
  height: 160px;
  resize: none;
  box-sizing: border-box;
}
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-weight: 300;
  height: 20px;
  line-height: 20px;
  padding: 6px 28px 6px 8px;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  background-color: #fff;
  border: 1px solid #ddd;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ddd, #ddd);
  background-position:
    calc(100% - 10px) calc(0.8rem),
    calc(100% - 5px) calc(0.8rem),
    calc(100% - 20px) 0;
  background-size:
    5px 5px,
    5px 5px,
    1px 2.5em;
  background-repeat: no-repeat;
  vertical-align: middle;
  box-sizing: content-box;
}
a {
  text-decoration: none;
}
table {
  border: none;
  border-collapse: collapse;
}
table {
  width: 100%;
  border: 1px solid #aaa;
}
table th,
table td.inner-title {
  background-color: #eaeaea;
  font-weight: normal;
}
table th,
table td {
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 8px 16px;
}
table td a {
  text-decoration: none;
}
table td.number {
  text-align: right;
}
h2 {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: 500;
}
h2 a {
  text-decoration: none;
}
form {
  margin-top: 16px;
}
form p {
  line-height: 3.0rem;
}
form p label {
  vertical-align: top;
}

header a {
  text-decoration: none;
  color: #000;
}
header .logo-link {
  display: inline-block;
  line-height: 48px;
}
header .logo {
  display: block;
  height: 48px;
}
/* for modern brouser */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* IE7,MacIE5 */
.clearfix {
  display: inline-block;
}
/* WinIE6 below, Exclude MacIE5 \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.button {
  position: relative;
  padding: 6px 16px;
  color: #333;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  text-decoration: none;
}
.button:focus {
  z-index: 2;
}
.button.delete {
  color: #911;
}
.button[disabled],
.button[disabled="true"],
.button[disabled="disabled"] {
  color: #999;
}
.button.with-right-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button.with-left-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
.button-container {
  margin-top: 24px;
}
.sidebar-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  line-height: 48px;
  height: 48px;
}
.sidebar-wrapper .username {
  position: relative;
  line-height: 48px;
  padding-right: 24px;
  cursor: default;
}
.sidebar-wrapper .username::after {
  content: '';
  position: absolute;
  border: 6px solid #000;
  border-color: #000 transparent transparent transparent;
  top: 7px;
  right: 4px;
}
.sidebar-wrapper .username:hover::after {
  border-color: #747d8c transparent transparent transparent;
}
.sidebar-nav {
  display: none;
  position: absolute;
  top: 48px;
  right: -13px;
  padding: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 4px 0;
}
.sidebar-nav::before {
  content: '';
  position: absolute;
  border: 9px solid #fff;
  border-color: transparent transparent #fff transparent;
  top: -16px;
  right: 13px;
}
.sidebar-nav::after {
  content: '';
  position: absolute;
  border: 10px solid #ccc;
  border-color: transparent transparent #ccc transparent;
  top: -18px;
  right: 12px;
  z-index: -1;
  filter: blur(1px);
}
.sidebar-nav li {
  line-height: 2.0rem;
}
.sidebar-nav li a {
  display: block;
  font-size: 0.9rem;
  padding: 0 24px;
  white-space: pre;
}
.sidebar-nav li:hover a {
  background-color: #1B9CFC;
  color: #fff;
}
.sidebar-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}
.content {
  position: relative;
  width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
}
header .content {
  height: 48px;
  line-height: 48px;
}
header .content * {
  vertical-align: middle;
}
.content.main {
  background-color: #fff;
  padding: 24px 32px;
  box-shadow: 0 0.5px 1px 0px rgba(0, 0, 0, 0.2);
  min-height: 480px;
  margin-top: 8px;
}
.content.main h1 {
  font-size: 1.4rem;
  font-weight: 400;
  border-bottom: 1px solid #aaa;
  padding-bottom: 4px;
  color: #333;
}
.content.main .title {
  border-bottom: 1px solid #aaa;
  padding-bottom: 4px;
}
.h1 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #333;
}
.section {
  margin-top: 24px;
}
table td.control {
  width: 1%;
  white-space: nowrap;
}
table.form-table {
  width: 100%;
}
table.form-table,
table.form-table th,
table.form-table td {
  border: none;
}
table.form-table td.label {
  vertical-align: top;
  padding-left: 0;
  width: 1%;
  white-space: nowrap;
  text-align: right;
}
table.form-table input,
table.form-table textarea {
  width: 100%;
  box-sizing: border-box;
}
table.form-table textarea {
  resize: vertical;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}
form .submit-button-wrapper {
  margin-top: 32px;
}
