{% extends "base_generic.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content_generic %}
<h1>{% trans "Sign Out" %}</h1>

<p style="margin-top: 32px;">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}" style="margin-top: 32px;">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="button" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
