<!-- ceylontime/templates/ceylontime/delete_visithistory.html -->

{% extends 'base+qr.html' %}

{% block content %}
    <h1>来店履歴削除</h1>
    <form action="" method="post">{% csrf_token %}
        <p>"{{ object }}"　の履歴情報を削除して宜しいですか？</p>
        <input class="button" type="submit" value="削除" />
        <a href="{% url 'ceylontime:home' %}"><input class="button" type="button" value="キャンセル"></a>
    </form>

{% endblock content %}
