<!-- ceylontime/templates/ceylontime/guest_list.html -->
{% extends 'base+qr.html' %}

{% block css %}
<style>
.guest-list {
  margin-top: 16px;
}
.no-guests {
  margin-top: 16px;
}
</style>
{% endblock %}

{% block content %}
    <h1>Guest List</h1>

    {% if guest_list %}
    <table class="guest-list">
      <thead>
        <tr>
          <th>氏名</th>
          <th>カナ</th>
          <th>登録日</th>
          {% if perms.ceylontime.view_mediator %}<th>紹介者</th>{% endif %}
        </tr>
      </thead>
      <tbody>
        {% for guest in guest_list %}
        <tr>
          <td>
            <a href="{{ guest.get_absolute_url }}">{{ guest.last_name }} {{ guest.first_name }}</a>
          </td>
          <td>
            <a>{{ guest.last_name_kana }} {{ guest.first_name_kana }}</a>
          </td>
          <td>
            {{ guest.registration_date|date:'Y/m/d' }}
          </td>
          {% if perms.ceylontime.view_mediator %}
          <td>
              {% if guest.customer_of %}<a href="{% url 'ceylontime:mediator-detail' guest.customer_of.pk %}">{{ guest.customer_of.mediator }}</a>{% endif %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </ul>
    {% else %}
    <div class="no-guests">ゲストの情報がありません。</div>
    {% endif %}

{% endblock content %}
