<!-- ceylontime/templates/ceylontime/guest_detail.html -->
{% extends 'base+qr.html' %}

{% load ceylontime_tags %}
{% load humanize %}

{% block css %}
<style>
table.visit-history {
  margin-top: 8px;
}
.section {
  margin-top: 1rem;
}
.section p {
  margin-left: 1rem;
}
.cancel-float {
  clear: both;
  padding-top: 1rem;
}
.generate-history {
  position: absolute;
  right: 30px;
}
</style>
{% endblock %}

{% block content %}
{% if perms.ceylontime.view_guest %}

<div>
  <div class="generate-history"><a href="{% url 'ceylontime:new-visit' %}?guest_pk={{ guest.pk }}"><button class="button">来店登録</button></a></div>
  <h1>会員番号<{{ guest.code }}>　{{ guest }}({{ guest.last_name_kana }} {{ guest.first_name_kana }})  様</h1>
  <h5 align="right">登録日：{{ guest.registration_date|date:'Y/m/d' }}</h5>

  <div>
    <h4>顧客情報</h4>
    {% include 'ceylontime/snippets/guest.html' %}
    {% if guest.family.all %}
    <table>ご家族：
      <tr>{% for family in guest.family.all %}
        <th>氏名</th>
        <th>生年月日</th>
      </tr>
      <tr>
        <td>{{ family.name }}</td>
        <td>{{ family.birthday }}</td>
      </tr>{% endfor %}
    </table>
    {% endif %}
  </div>
  <br>
  {% if perms.ceylontime.view_customerguest %}
  <div class="cancel-float">
    {% if guest.customer_of %}
    {% if perms.ceylontime.view_customerguest %}
    <h4>紹介元  </h4>
    <p><a href="{% url 'ceylontime:mediator-detail' guest.customer_of.pk %}">  {{ guest.customer_of }}</a></p>
    {% endif %}
    {% if guest.related_guest.all.exists %}
    <br/>
    <h4>登録ゲストリスト</h4>
    <table>
      <tr>
        <th>氏名</th>
        <th>登録日</th>
        <th>最終来店日</th>
        <th>来店回数</th>
      </tr>
      {% for relate in guest.related_guest.all %}
      <tr align="center">
        <td><a href="{{ relate.get_absolute_url }}">{{ relate }}</a></td>
        <td>{{ relate.registration_date|date:'Y/m/d' }}</td>
        {% if relate.visithistory_set.last %}
        <td>{{ relate.visithistory_set.last }}</td>
        {% else %}
        <td>来店履歴なし</td>
        {% endif %}
        <td>{{ relate.visithistory_set.count }} 回</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    {% endif %}
  </div>
  {% endif%}
  <div>
    <br>
    <table class="visit-history"><h4>来店履歴</h4>
      <tr>
        <th>来店日</th>
        <th>来店人数</th>
        <th>売上金額</th>
        <th>コメント</th>
      </tr>
      {% for history in guest.latest_first_visithistory_set %}
      <tr align="center">
        <td><a href="{{ history.get_absolute_url }}" >{{ history.visit_date|date:'Y/m/d H:m' }}</a></td>
        <td class="number">{{ history.number_of_visitors|intcomma }}</td>
        <td class="number">{{ history.payment|intcomma }}</td>
        <td>{{ history.comment }}</td>
      </tr>
      {% empty %}
      <tr align="center">
        <td colspan="4">来店履歴なし</td>
      </tr>
      {% endfor %}
      {% if perms.ceylontime.view_customerguest %}
      {% for rg in guest.related_guest.all %}
      {% for history in rg.latest_first_visithistory_set %}
      <tr>
        <td class="inner-title" colspan="4">ご紹介ゲスト様　：{{ rg.last_name}} {{ rg.first_name }}　様</td>
      </tr>
      <tr align="center">
        <td><a href="{{ history.get_absolute_url }}" >{{ history.visit_date|date:'Y/m/d H:m' }}</a></td>
        <td class="number">{{ history.number_of_visitors|intcomma }}</td>
        <td class="number">{{ history.payment|intcomma }}</td>
        <td>{{ history.comment }}</td>
      </tr>
      {% empty %}
      {% endfor %}
      {% endfor %}
      {% endif%}
    </table>
  </div>
  {% if guest.gift.all %}
  <div>
    <br>
    <h4>ギフト情報</h4>
    <table class="visit-history">
      <tr>
        <th>種類</th>
        <th>送付状況</th>
        <th>ギフト名</th>
        <th>送付年月</th>
      </tr>
      {% for gift in guest.gift.all %}
      <tr align="center">
        <td>{{ gift.get_gift_type_display }}</td>
        {% if gift.send_bool is True %}
        <td> ○ </td>
        {% else %}
        <td> × </td>
        {% endif %}
        {% if gift.gift %}
        <td>{{ gift.gift }}</td>
        {% else %}
        <td> - </td>
        {% endif %}
        {% if gift.send_date %}
        <td>{{ gift.send_date|date:'Y/m' }}</td>
        {% else %}
        <td> - </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
</div>
<br>
<a href="{% url 'ceylontime:user-update-guest' guest.pk %}"><input class="button" type="button" value="顧客情報更新"></a>
{% endif %}
{% endblock content %}