<!-- ceylontime/templates/ceylontime/home.html -->
{% extends 'base+qr.html' %}

{% block content %}
    {% include 'ceylontime/snippets/tab.html' %}

    {% if visithistory_list %}
    <table class="in-visit-guests">
      <thead>
        <tr>
          <th>来店店舗</th>
          <th>ステータス</th>
          <th>氏名</th>
          <th>来店日時</th>
        </tr>
      </thead>
      <tbody>
        {% for vh in visithistory_list %}
        <tr>
        　<td>
            <a>{{ vh.in_shop }}</a>
          </td>
          <td>
            <a href="{% url 'ceylontime:leave-shop' vh.pk %}">来店中</a>
          </td>
          <td>
            <a href="{{ vh.get_absolute_url }}">{{ vh.guest_name.last_name }} {{ vh.guest_name.first_name }}</a>
          </td>
          <td>
            <a>{{ vh.visit_date|date:'Y/m/d H:m' }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="no-visiging-guest">現在、来店中のゲストはおりません。</div>
    {% endif %}

{% endblock content %}
