<!-- ceylontime/templates/ceylontime/mediator_detail.html -->
{% extends 'base+qr.html' %}

{% block content %}
    <h1>紹介元情報</h1>
    <p>紹介元： {{ mediator }}</p>

    <table border=1>
      <tr>
        <th>紹介顧客名</th>
        <th>登録日</th>
      </tr>
      {% for cguest in mediator.guest_set.all %}
      <tr>
        <td><a href="{% url 'ceylontime:guest-detail' cguest.pk %}">{{ cguest }}</a></td>
        <td>{{ cguest.registration_date }}</td>
      </tr>
      {% endfor %}
    </table>

{% endblock content %}