{% extends 'base+qr.html' %}

{% block content %}

<div>
    <h4>No.{{ shop.pk }} 　所属名: {{ shop.shop_group }}</h4>
    <p>責任者（店長）： {{ shop.manager }}</p>
    <!-- TODO add Group members's List or Users related of -->
</div>

<div>
    {% if shop.visithistory_set %}
    <table class="guests-histories">
      <thead>
        <tr>
          <th>ステータス</th>
          <th>氏名</th>
          <th>来店日時</th>
        </tr>
      </thead>
      <tbody>
        {% for vh in shop.visithistory_set.all %}
        <tr>
          <td>{{ vh.visit_status }}</a></td>
          <td><a href="{{ vh.get_absolute_url }}">{{ vh.guest_name.last_name }} {{ vh.guest_name.first_name }}</a></td>
          <td><a href="{% url 'ceylontime:leave-shop' vh.pk %}">{{ vh.visit_date|date:'y/m/d' }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="no-visiging-guest">現在、該当店舗には来店履歴はございません。</div>
    {% endif %}
</div>
{% endblock %}
