<!-- ceylontime/templates/ceylontime/update_guest-visitstatus.html -->

{% extends 'base+qr.html' %}

{% block content %}
    <h1>来店情報更新</h1>
    <h2>{{ guest }}</h2>
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input class="button" type="submit" value="来店/退店" />
    </form>

{% endblock content %}