<!-- ceylontime/templates/ceylontime/user_update.html -->

{% extends 'base+qr.html' %}

{% block css %}
{% endblock %}

{% block content %}
    <h1>社員情報更新</h1>
    <h2>{{ user.id }} : <a href="{% url 'ceylontime:user-detail' user.id %}">{{ user }}</a> 様</h2>
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <p class="button-container">
        <input class="button" type="submit" value="更新" />
        <a href="{% url 'ceylontime:home' %}"><input class="button" type="button" value="キャンセル"></a>
      </p>
    </form>

{% endblock content %}
