<!-- ceylontime/templates/ceylontime/update_visithistory.html -->

<style>
.cancel-float {
  border: none;
  clear: both;
}
</style>


{% extends 'base+qr.html' %}

{% block css %}
{% endblock %}

{% block content %}
<h1>[会員情報更新] <{{ guest.code }}> {{ guest }}({{ guest.last_name_kana }} {{ guest.first_name_kana }})  様</h1>
<h5 align="right">登録日：{{ guest.registration_date|date:'Y/m/d' }}</h5>

<form action="" method="post">
  {% csrf_token %}
  {% with form as guest %}
    {% include 'ceylontime/snippets/guest_form.html' %}
  {% endwith %}


<div class="cancel-float">
  <br>
  <input class="button" type="submit" value="更新" />
  <a href="{% url 'ceylontime:guest-detail' guest.pk %}"><input class="button" type="button" value="キャンセル"></a>
</div>



</form>
{% endblock content %}
