<!-- ceylontime/templates/ceylontime/user_list.html -->
{% extends 'base+qr.html' %}

{% block css %}
<style>
.guest-list {
  margin-top: 16px;
}
.no-guests {
  margin-top: 16px;
}
</style>
{% endblock %}

{% block content %}
    <h1>Staffs List</h1>

    {% if user_list %}
    <table class="user-list">
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>所属</th>
          <th>役職</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user_list %}
        <tr>
          <td>
            <a>{{ user.id }}</a>
          </td>
          <td>
            <a href="{% url 'ceylontime:user-detail' user.id %}">{{ user }}</a>
          </td>
          <td>
            <a>{{ user.groups.all|join:", " }}</a>
          </td>
          <td>
            <a>{{ user.role_set.all|join:", "}}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </ul>
    {% else %}
    <div class="no-guests">社員の情報がありません。</div>
    {% endif %}

{% endblock content %}
