<!-- ceylontime/templates/ceylontime/user_create.html -->

{% extends 'base+qr.html' %}

{% block css %}
{% endblock %}

{% block content %}
    <h1>新社員情報登録</h1>
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input class="button" type="submit" value="保存" />
      <a href="{% url 'ceylontime:home' %}"><input class="button" type="button" value="キャンセル"></a>
    </form>


{% endblock content %}