<!-- ceylontime/templates/ceylontime/user_detail.html -->
{% extends 'base+qr.html' %}

{% block content %}
    <h1>社員情報</h1>
    <p>ID　　： {{ user.id }}</p>
    <p>社員名： {{ user }}</p>
    <p>所属　： {{ user.groups.all|join:", " }}</p>
    <p>役職名： {{ user.role_set.all|join:", " }}</p>

    <p>氏　　： {{ user.last_name }}</p>
    <p>名　　： {{ user.first_name }}</p>
    <p>メール： {{ user.email }}</p>

    <p class="button-container">
      <a class="button" href="{% url 'ceylontime:user-update' user.id %}">登録内容更新</a>
      <a class="button delete"  href="{% url 'ceylontime:user-delete' user.id %}">来店履歴削除</a>
    </p>
{% endblock content %}
