<!-- ceylontime/templates/ceylontime/visit_detail.html -->
{% extends 'base+qr.html' %}

{% block css %}
<style>
p {
  line-height: 2.5rem;
}
p a {
  text-decoration: none;
}
</style>
{% endblock css %}

{% block content %}
    <h1>来店履歴詳細</h1>
    <p>ゲスト氏名： <a href="{% url 'ceylontime:guest-detail' visithistory.guest_name.id %}">{{ visithistory.guest_name }}</a></p>
    <p>ご来店店舗： {{ visithistory.in_shop }}</p>
    <p>来店日： {{ visithistory.visit_date|date:'Y/m/d' }}</p>
    <p>来店人数： {{ visithistory.number_of_visitors }}名</p>
    <p>売上金額： {% if visithistory.payment %}{{ visithistory.payment }}{% else %}---{% endif %}</p>
    <p>サービス区別： {{ visithistory.get_service_pattern_display }}</p>
    <p>予約有無： {% if visithistory.exist_reservation == 1 %}あり{% else %}なし{% endif %}</p>
    {% if visithistory.exist_reservation %}
    <p>予約情報備考： {{ visithistory.reservation_remark }}</p>
    {% endif %}
    {% if visithistory.guest_name.customer_of.pk == 3 %}
    <p>担当（ばんせい）： {% if visithistory.salesperson %}{{ visithistory.salesperson }}{% endif %}</p>
    {% endif %}
    <p>コメント： <br><small>
        {% if visithistory.comment %}
        {{ visithistory.comment | linebreaksbr  }}
        {% else %}コメントなし
        {% endif %}
    </small></p>

 {% if perms.ceylontime.change_visithistory %}
    <p class="button-container">
      <a class="button" href="{% url 'ceylontime:update-visit' visithistory.pk %}">登録内容更新</a>
      <a class="button delete"  href="{% url 'ceylontime:delete-visit' visithistory.pk %}">来店履歴削除</a>
    </p>
 {% endif %}

{% endblock content %}
