<!-- ceylontime/templates/ceylontime/visithistory_list.html -->
{% extends 'base+qr.html' %}

{% load ceylontime_tags %}

{% block javascript %}
<script>
$(function() {
  $('.sortable').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    $('.sortable').not(this).removeClass('down up');
    if ($(this).hasClass('down')) $(this).removeClass('down').addClass('up');
    else if ($(this).hasClass('up')) $(this).removeClass('up').addClass('down');
    else $(this).addClass('down');
    reloadHistory();
  });
});
function reloadHistory() {
  var sortOrder = 'visit_date';
  var desc = true;
  $('.sortable').each(function(){
    if ($(this).hasClass('down')) {
      desc = true;
      sortOrder = $(this).data('column');
    } else if ($(this).hasClass('up')) {
      desc = false;
      sortOrder = $(this).data('column');
    }
  });
  $.ajax({
    type: 'GET',
    url: '/history/',
    data: {
      'sort_order': sortOrder,
      'desc': desc
    },
    dataType: 'json',
    success: function(data) {
      $('table tbody').empty();
      var tags = data['tags'];
      for (var i = 0; i < tags.length; i++) {
        var $tag = $(tags[i]);
        $('table tbody').append($tag);
      }
    },
    error: function(response) {
      alert('server error');
    }
  });
}
</script>
{% endblock %}

{% block css %}
<style>
thead tr th.sortable {
  background-image:
    linear-gradient(135deg, transparent 50%, #aaa 50%),
    linear-gradient(45deg, #aaa 50%, transparent 50%),
    linear-gradient(45deg, transparent 50%, #aaa 50%),
    linear-gradient(135deg, #aaa 50%, transparent 50%);
  background-position:
    calc(100% - 24px) calc(50% - 5px),
    calc(100% - 18px) calc(50% - 5px),
    calc(100% - 24px) calc(50% + 5px),
    calc(100% - 18px) calc(50% + 5px);
  background-size:
    6px 6px,
    6px 6px,
    6px 6px,
    6px 6px;
  background-repeat: no-repeat;
}
thead tr th.sortable:hover {
  background-color: #59d8f8;
}
thead tr th.sortable.up {
  background-image:
    linear-gradient(135deg, transparent 50%, #333 50%),
    linear-gradient(45deg, #333 50%, transparent 50%),
    linear-gradient(45deg, transparent 50%, #aaa 50%),
    linear-gradient(135deg, #aaa 50%, transparent 50%);
}
thead tr th.sortable.down {
  background-image:
    linear-gradient(135deg, transparent 50%, #aaa 50%),
    linear-gradient(45deg, #aaa 50%, transparent 50%),
    linear-gradient(45deg, transparent 50%, #333 50%),
    linear-gradient(135deg, #333 50%, transparent 50%);
}
</style>
{% endblock %}


{% block content %}
  {% include 'ceylontime/snippets/tab.html' %}

    <table class="guests-histories">
      <thead>
        <tr>
          <th class="sortable" data-column='shop'>店舗名</th>
          <th class="sortable" data-column='name'>氏名</th>
          <th class="sortable down" data-column='visit_date'>来店日</th>
          <th class="sortable" data-column='number_of_visitors'>来店人数</th>
          <th class="sortable" data-column='payment'>売上金額</th>
        </tr>
      </thead>
      <tbody>

    {% for vh in visithistory_list %}
      {% autoescape off %}
      {{ vh|generate_history_row }}
      {% endautoescape %}
    {% empty %}
      <tr>
        <div class="no-visiging-guest">来店履歴がございません。</div>
      </tr>
    {% endfor %}
      </tbody>
    </table>



{% endblock %}
