<div class="result-bg">
  <div id="result_dialog">
    <div class="dialog-content clearfix">
      <div class="left">
        <table id="result" data-guest_id="">
          <tr>
            <td class="title" colspan="2">QRコードが検出されました</td>
          </tr>
          <tr>
            <td id="last_name_kana"></td>
            <td id="first_name_kana"></td>
          </tr>
          <tr>
            <td id="last_name"></td>
            <td id="first_name"></td>
          </tr>
        </table>
        <table class="numpad init">
          <tr>
            <td class="number-of-visitor" colspan="4">
              <span class="label">来店人数</span>
              <span class="value">1</span>
              <span class="unit">名</span>
            </td>
          </tr>
          <tr><td class="num 7">7</td><td class="num 8">8</td><td class="num 9">9</td></tr>
          <tr><td class="num 4">4</td><td class="num 5">5</td><td class="num 6">6</td></tr>
          <tr><td class="num 1">1</td><td class="num 2">2</td><td class="num 3">3</td></tr>
          <tr><td class="num 0">0</td><td class="del">Del</td><td class="clear">クリア</td></tr>
        </table>
      </div>
      <div class="right">
        <div class="right-pane-header">ご家族</div>
        <div class="list-wrapper">
          <ul id="family_list">
          </ul>
        </div>
      </div>
    </div>
    <div class="dialog-footer">
      <button class="footer-button ok">OK</button><button class="footer-button cancel">Cancel</button>
    </div>
  </div>
  <div id="outdiv"><video id="v" autoplay=""></video></div>
  <canvas id="qr-canvas" width="800" height="600" style="width: 800px; height: 600px;"></canvas>
</div>
