{% extends 'ceylontime/dm/base.html' %}

{% block javascript_dm %}
<script>
  $(function(){
    var userEmailAddress = '{{ request.user.email }}';
    console.log(userEmailAddress);
    if (userEmailAddress) {
      $('input[name="test_mail"]').val(userEmailAddress);
    }
  });

</script>
{% endblock %}

{% block css_dm %}
<style>
input[name="subject"],
textarea[name="body"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.hint {
  background-color: #d8d8d8;
  color: #555;
  margin-top: -3px;
  padding: 8px 8px;
  font-size: 0.85em;
}
.hint .bold {
  font-weight: bolder;
}
</style>
{% endblock %}

{% block content_dm %}
<h1>新規DMテンプレート作成</h1>
<form method="post">
  {% csrf_token %}
  <table class="form-table">
    <tr>
      <td class="label">{{ form.name.label_tag }}</td>
      <td>{{ form.name }}{{ form.name.errors }}</td>
    </tr>
    <tr>
      <td class="label">{{ form.subject.label_tag }}</td>
      <td>
        {{ form.subject }}{{ form.subject.errors }}
        <div class="hint">
          <span class="bold">$氏名$</span> と入力すると、その部分を顧客の氏名に置き換えることができます。
        </div>
      </td>
    </tr>
    <tr>
      <td class="label">{{ form.body.label_tag }}</td>
      <td>
        {% spaceless %}
        {{ form.body }}
        <div class="hint">
          <span class="bold">$氏名$</span> と入力すると、その部分を顧客の氏名に置き換えることができます。
        </div>
        {{ form.body.errors }}
        {% endspaceless %}
      </td>
    </tr>
    <tr>
      <td class="label">{{ form.test_mail.label_tag }}</td>
      <td>
        {% spaceless %}
        <div class="test-mail">{{ form.test_mail }}</div>
        <div class="hint">
          テストメールを送るアドレスを入力してください。(デフォルト:ログインユーザーのアドレス)
        </div>
        {{ form.test_mail.errors }}
        {% endspaceless %}
      </td>
    </tr>
  </table>
  <div class="submit-button-wrapper">
    <input type="submit" class="button" value="作成" />
  </div>
</form>
{% endblock %}
