{% extends 'ceylontime/dm/base.html' %}

{% block javascript_dm %}
{% endblock %}

{% block css_dm %}
<style>
.confirmation-message {
  margin-top: 32px;
  font-size: 1.25em;
}
</style>
{% endblock %}

{% block content_dm %}
<h1>「{{ template.name }}」削除確認</h1>
<div class="confirmation-message">
  本当に削除してもよろしいですか？
</div>
<div class="button-wrapper">
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="button delete" value="削除" />
  </form>
</div>
{% endblock %}
