{% extends 'ceylontime/dm/base.html' %}

{% load ceylontime_tags %}

{% block javascript_dm %}
{% endblock %}

{% block css_dm %}
<style>
.header-link {
  margin-bottom: 16px;
}
table {
  margin-top: 32px;
  table-layout: fixed;
}
table td.label {
  width: 5em;
  white-space: nowrap;
  text-align: right;
}
table .body-wrapper {
  overflow-x: auto;
  white-space: pre;
  overflow-wrap: normal;
}
</style>
{% endblock %}

{% block content_dm %}
<div class="header-link">
  <a href="{% url 'ceylontime:dm-template-list' %}">一覧に戻る</a>
</div>
<h1>{{ template.name }}</h1>
<table>
  <tr>
    <td class="label">件名:</td><td>{{ template.subject }}</td>
  </tr>
  <tr>
    <td class="label">本文:</td>
    <td>
      <div class="body-wrapper">
        {{ template.body| safe }}
      </div>
    </td>
  </tr>
  <tr>
    <td class="label">作成者:</td>
    <td>{% if template.created_by %}{{ template.created_by }}{% else %}---{% endif %}</td>
  </tr>
  <tr>
    <td class="label">作成日時:</td>
    <td>{{ template.created_at|date:'Y/m/d H:i' }}</td>
  </tr>
  <tr>
    <td class="label">更新者:</td>
    <td>{% if template.updated_by %}{{ template.updated_by }}{% else %}---{% endif %}</td>
  </tr>
  <tr>
    <td class="label">更新日時:</td>
    <td>{{ template.updated_at|date:'Y/m/d H:i' }}</td>
  </tr>
</table>
<div class="button-wrapper">
  {% spaceless %}
  <a href="{% url 'ceylontime:dm-template-update' template.id %}" class="button">編集</a>
  <a href="{% url 'ceylontime:dm-template-delete' template.id %}" class="button delete">削除</a>
  {% endspaceless %}
</div>
{% endblock %}
