{% extends 'ceylontime/dm/base.html' %}

{% load humanize %}

{% block javascript_dm %}
{% endblock %}

{% block css_dm %}
<style>
.templates {
  font-size: 0.9em;
}
.templates.top-margin {
  margin-top: 32px;
}
.count {
  font-weight: bolder;
  margin-top: 32px;
  margin-bottom: 8px;
}
.no-templates {
  text-align: center;
}
</style>
{% endblock %}

{% block content_dm %}
<div class="title clearfix">
  <div class="h1 float-left">DMテンプレート一覧</div>
  <div class="float-right">
    <a class="button" href="{% url 'ceylontime:dm-template-new' %}">新規作成</a>
  </div>
</div>
{% if templates.count > 0 %}
<div class="count">全{{ templates.count|intcomma }}件</div>
{% endif %}
<table class="templates{% if templates.count == 0 %} top-margin{% endif %}">
  <tr>
    <th></th>
    <th>テンプレート名</th>
    <th>作成者</th>
    <th>作成日時</th>
    <th>更新者</th>
    <th>更新日時</th>
    <th></th>
  </tr>
  {% for t in templates %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>
      <a href="{% url 'ceylontime:dm-template-detail' t.id %}">{{ t.name }}</a>
    </td>
    <td>{% if t.created_by %}{{ t.created_by }}{% else %}---{% endif %}</td>
    <td>{{ t.created_at|date:'Y/m/d H:i' }}</td>
    <td>{% if t.updated_by %}{{ t.updated_by }}{% else %}---{% endif %}</td>
    <td>{{ t.updated_at|date:'Y/m/d H:i' }}</td>
    <td class="control">
      {% spaceless %}
      <a href="{% url 'ceylontime:dm-template-update' t.id %}" class="button with-right-button">編集</a>
      <a href="{% url 'ceylontime:dm-template-delete' t.id %}" class="button delete with-left-button">削除</a>
      {% endspaceless %}
    </td>
  </tr>
  {% empty %}
  <tr><td class="no-templates" colspan="7">DMテンプレートはありません</td></tr>
  {% endfor %}
</table>
{% endblock %}
