{% extends 'ceylontime/dm/base.html' %}

{% load ceylontime_tags %}

{% block javascript_dm %}
<script>
$(function() {
  $('.show-more').on('click', function(e) {
    e.preventDefault();
    $('.receiver, .show-less').removeClass('hidden');
    $(this).addClass('hidden');
  });
  $('.show-less').on('click', function(e) {
    e.preventDefault();
    $('.show-more').removeClass('hidden');
    $('.receiver:gt(10)').addClass('hidden');
    $(this).addClass('hidden');
  });
});
</script>
{% endblock %}

{% block css_dm %}
<style>
.content-header {
  display: flex;
  margin-bottom: 24px;
}
.content-header > div {
  width: 50%;
}
.new-dm-link {
  text-align: right;
}
tr.hidden {
  display: none;
}
tr.show-more,
tr.show-less {
  text-align: center;
  cursor: pointer;
  background-color: #bfecfd;
  color: #127ba2;
}
table.mail-content {
  table-layout: fixed;
}
table.mail-content td.label {
  width: 2em;
  white-space: nowrap;
  vertical-align: top;
  text-align: right;
}
table.mail-content td.body {
  padding: 0;
}
table.mail-content td.body .body-wrapper {
  overflow-x: auto;
  white-space: pre;
  overflow-wrap: normal;
  padding: 8px 16px;
  overflow-y: auto;
  max-height: 480px;
}
</style>
{% endblock %}

{% block content_dm %}
<div class="content-header">
  <div><a href="{% url 'ceylontime:dm-list' %}">履歴一覧へ戻る</a></div>
  {% comment %}
  <div class="new-dm-link"><a href="{% url 'ceylontime:dm-setup' %}">この宛先にDMを新規送信する</a></div>
  {% endcomment %}
</div>
<h1>DM送信内容詳細</h1>
<div class="label">送信用メールアドレス:</div>
<div>{{ dm.sender }}</div>
<div class="label">送信者:</div>
<div>{{ dm.sent_by.username }}</div>
<div class="label">送信日時:</div>
<div>{{ dm.datetime|date:"Y/m/d H:i" }}</div>
<div class="label">宛先 ({{ dm.receivers.count }}名):</div>
<div>
  <table>
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>来店回数</th>
      <th>紹介者</th>
    </tr>
    {% for r in dm.receivers.all %}
    <tr class="receiver{% if forloop.counter > 10 %} hidden{% endif %}">
      <td>{{ r }}</td>
      <td>{{ r.mail }}</td>
      <td class="right">{{ r.visithistory_set.count }}</td>
      <td>{% if r.customer_of %}{{ r.customer_of }}{% else %}なし{% endif %}</td>
    </tr>
    {% endfor %}
    {% if dm.receivers.count > 10 %}
    <tr class="show-more"><td colspan="4">さらに表示</td></tr>
    <tr class="show-less hidden"><td colspan="4">少なく表示</td></tr>
    {% endif %}
  </table>
</div>
<div class="label">内容:</div>
<table class="mail-content">
  <tr>
    <td class="label">件名</td>
    <td>{{ dm.subject }}</td>
  </tr>
  <tr>
    <td class="label">本文</td>
    <td class="body"><div class="body-wrapper">{{ dm.body| safe }}</div></td>
  </tr>
</table>
{% endblock %}
