{% extends 'ceylontime/dm/base.html' %}

{% load humanize %}
{% load ceylontime_tags %}

{% block javascript_dm %}
{% endblock %}

{% block css_dm %}
<style>
.history {
  font-size: 0.9em;
}
.history.top-margin {
  margin-top: 32px;
}
.count {
  font-weight: bolder;
  margin-top: 32px;
  margin-bottom: 8px;
}
.receiver-count {
  white-space: nowrap;
}
.no-histories {
  text-align: center;
}
</style>
{% endblock %}

{% block content_dm %}
<h1>DM送信履歴</h1>
{% if dms.count > 0 %}
<div class="count">全{{ dms.count|intcomma }}件</div>
{% endif %}
<table class="history{% if dms.count == 0 %}top-margin{% endif %}">
  <tr>
    <th>件名</th>
    <th>本文</th>
    <th>宛先人数</th>
    <th>送信者</th>
    <th>送信日時</th>
  </tr>
  {% for dm in dms %}
  <tr>
    <td class="nowrap"><a href="{% url 'ceylontime:dm-detail' dm.id %}">{{ dm.subject|ellipsis:"25" }}</a></td>
    <td class="nowrap">{{ dm.body|ellipsis:"15"|safe }}</td>
    <td class="right receiver-count">{{ dm.receivers.count }}人</td>
    <td>{{ dm.sent_by }}</td>
    <td class="right">{{ dm.datetime|date:"Y/m/d H:i" }}</td>
  </tr>
  {% empty %}
  <tr><td class="no-histories" colspan="5">DM送信履歴はありません</td></tr>
  {% endfor %}
</table>
{% endblock %}
