{% extends 'ceylontime/dm/base.html' %}

{% load humanize %}
{% load ceylontime_tags %}

{% block javascript_dm %}
<script>
$(function() {
  $('#id_dm_template').on('change', function(e) {
    var id = $(this).val();
    var subject = $('.template-subject[data-id="' + id + '"]').html();
    var body = $('.template-body[data-id="' + id + '"]').html();
    $('#template_subject_td').empty().append(subject);
    $('#template_body_td .body-wrapper').empty().append(body);
  });
  $('.show-preview').on('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
    var id = $('#id_dm_template').val();
    var subject = $('.template-subject[data-id="' + id + '"]').html();
    var body = $('.template-body[data-id="' + id + '"]').html();
    var $row = $(this).parents('.receiver-row');
    var name = $('.name-td', $row).html().trim();
    var mail = $('.mail-td', $row).html().trim();
    $('#preview .name-value').html(name);
    $('#preview .mail-value').html(mail);
    subject = subject.replace(/\$氏名\$/, name);
    body = body.replace(/\$氏名\$/, name);
    $('#preview .subject-value').html(subject);
    $('#preview .body-value .body-wrapper').html($(body));
    $('.preview-bg').addClass('show').removeClass('hidden').one('click', function(e) {
      $(this).removeClass('show');
      setTimeout(function() { $('.preview-bg').addClass('hidden'); }, 500);
    });
  });
  $('#preview_dialog').on('click', function(e) {
    e.stopPropagation();
  });
  $('input[type="submit"]').on('click', function(e) {
    $(this).hide();
    $('.button.back').hide();
    $('.sending').css('display', 'inline');
  });
});
</script>
{% endblock %}

{% block css_dm %}
<style>
.candidate-list-wrapper {
  max-height: 420px;
  overflow-y: auto;
}
table th.show-preview,
table td.show-preview {
  text-align: center;
  width: 8em;
}
input[name="subject"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
textarea[name="body"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}
table.template {
  table-layout: fixed;
  width: 100%;
  margin-top: 16px;
}
table.template td.label {
  width: 2em;
  white-space: nowrap;
  vertical-align: top;
  text-align: right;
}
table.template #template_body_td {
  padding: 0;
}
table.template .body-wrapper {
  overflow-x: auto;
  white-space: pre;
  overflow-wrap: normal;
  padding: 8px 16px;
  overflow-y: auto;
  max-height: 480px;
}
.preview-bg {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  transition: opacity ease-in-out .5s;
}
.preview-bg.hidden {
  left: -99999px;
}
#preview_dialog {
  width: 65%;
  height: 600px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: -700px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: margin-top ease-in-out .5s;
}
#preview_dialog .dialog-content {
  width: 100%;
  padding: 8px 16px;
}
#preview_dialog .dialog-content table {
  width: calc(100% - 32px);
  margin-top: 0;
}
#preview_dialog .dialog-content table td.label {
  width: 7.5em;
}
#preview_dialog .dialog-content table td.body-value {
  padding: 0;
}
#preview_dialog .dialog-content table td.body-value .body-wrapper {
  padding: 8px 16px;
  height: 440px;
}
.preview-bg.show {
  opacity: 1;
  transition: opacity ease-in-out .5s;
}
.preview-bg.show #preview_dialog {
  margin-top: 64px;
}
.sending {
  font-weight: bolder;
  color: #555;
  font-size: 0.9em;
  vertical-align: middle;
  display: none;
}
</style>
{% endblock %}

{% block content_dm %}
<h1>送信する内容を設定してください: ステップ 2/2</h1>
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="receivers" value="{{ request.GET.receivers }}" />
  <div class=label>送信用メールアドレス:</div>
  <div>{{ sender }}</div>
  <div class=label>{{ receivers|length|intcomma }}件の宛先メールアドレス (DMは個別に送信されます):</div>
  <div class="candidate-list-wrapper">
    <table>
      <tr>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th class="preview">DMプレビュー</th>
      </tr>
      {% for r in receivers %}
      <tr class="receiver-row">
        <td class="name-td">{{ r }}</td>
        <td class="mail-td">{{ r.mail }}</td>
        <td class="show-preview"><button class="button">表示</button></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="label">使用するテンプレート:</div>
  <select id="id_dm_template" name="dm_template">
    {% for t in templates %}
    <option value="{{ t.id }}"{% if template_id == t.id %} selected{% endif %}>{{ t.name }}</option>
    {% endfor %}
  </select>
  <table class="template">
    <tr>
      <td class="label">件名:</td>
      {% if subject %}
      <td id="template_subject_td">{{ subject }}</td>
      {% else %}
      <td id="template_subject_td">{{ templates.first.subject }}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="label">本文:</td>
      {% if body %}
      <td id="template_body_td">
        <div class="body-wrapper">{{ body | safe }}</div>
      </td>
      {% else %}
      <td id="template_body_td">
        <div class="body-wrapper">{{ templates.first.body | safe }}</div>
      </td>
      {% endif %}
    </tr>
  </table>
  <div class="button-wrapper">
    {% spaceless %}
    <a
      class="button back"
      href="{% url 'ceylontime:dm-setup' %}?candidates={{ request.GET.receivers }}{% if request.GET.visit_count %}&visit_count={{ request.GET.visit_count }}{% endif %}{% if request.GET.mediator %}&mediator={{ request.GET.mediator }}{% endif %}">
      宛先を選択し直す
    </a>
    <input type="submit" class="button" value="以上の内容で送信" />
    <span class="sending">送信中です</span>
    {% endspaceless %}
  </div>
</form>
<div class="preview-bg hidden">
  <div id="preview_dialog">
    <div class="dialog-content">
      <table id="preview" class="template">
        <tr>
          <td class="label">氏名:</td>
          <td class="name-value"></td>
        </tr>
        <tr>
          <td class="label">メールアドレス:</td>
          <td class="mail-value"></td>
        </tr>
        <tr>
          <td class="label">件名:</td>
          <td class="subject-value"></td>
        </tr>
        <tr>
          <td class="label">本文:</td>
          <td class="body-value"><div class="body-wrapper"></div></td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% for t in templates %}
<template class="template-subject" data-id="{{ t.id }}">{{ t.subject }}</template>
<template class="template-body" data-id="{{ t.id }}">{{ t.body | safe }}</template>
{% endfor %}
{% endblock %}
