{% extends 'ceylontime/dm/base.html' %}

{% load humanize %}

{% block javascript_dm %}
<script>
$(function() {
  $('.select-all').on('change', function(e) {
    $('.candidate-checkbox').prop('checked', $(this).prop('checked'));
    var checkedCount = $('.candidate-checkbox:checked').length;
    $('input[type="submit"]').prop('disabled', checkedCount == 0);
    $('.select-counter .selected-count').html(splitByCommas(checkedCount));
  });
  $('.candidate-checkbox').on('click', function(e) {
    var checkedCount = $('.candidate-checkbox:checked').length;
    if (checkedCount == $('.candidate-checkbox').length) {
      $('.select-all').prop('checked', true);
    } else {
      $('.select-all').prop('checked', false);
    }
    $('input[type="submit"]').prop('disabled', checkedCount == 0);
    $('.select-counter .selected-count').html(splitByCommas(checkedCount));
  });
});
</script>
{% endblock %}

{% block css_dm %}
<style>
.filter-conditions {
  display: flex;
  margin-top: 40px;
}
.filter-conditions .condition {
  width: 40%;
}
.filter-conditions input[name="visit_count"] {
  width: 4em;
  min-width: auto;
}
.filter-conditions .condition-button-wrapper {
  width: 20%;
  text-align: right;
}
.filter-conditions .condition-label {
  font-weight: bolder;
  margin-right: 0.5em;
}
.filter-conditions .condition-postfix {
  margin-left: 0.5em;
}
.select-counter {
  font-size: 1.2em;
  margin-bottom: 0.25em;
}
.hint {
  color: #555;
  font-size: 0.9em;
}
.candidate-list-wrapper {
  max-height: 400px;
  overflow-y: auto;
}
.candidate-list {
  margin-top: 4px;
}
.no-guests {
  text-align: center;
}
</style>
{% endblock %}

{% block content_dm %}
<h1>DMを送信するお客様を選択してください: ステップ 1/2</h1>
{% if errors %}
<ul class="error-message">
  {% for e in errors %}
  <li>{{ e }}</li>
  {% endfor %}
</ul>
{% endif %}
<form method="get">
  <div class="filter-conditions">
    <div class="condition">
      {% spaceless %}
      <span class="condition-label">来店回数:</span>
      <input type="number" name="visit_count" value="{% if request.GET.visit_count %}{{ request.GET.visit_count }}{% else %}0{% endif %}">
      <span class="condition-postfix">回以上</span>
      {% endspaceless %}
    </div>
    <div class="condition">
      {% spaceless %}
      <span class="condition-label">紹介者:</span>
      <select name="mediator">
        <option value="">---</option>
        <option value="none"{% if request.GET.mediator == 'none' %} selected{% endif %}>なし</option>
        {% for m in mediators %}
        <option value="{{ m.id }}"{% if request.GET.mediator|add:"0" == m.id %} selected{% endif %}>{{ m }}</option>
        {% endfor %}
      </select>
      {% endspaceless %}
    </div>
    <div class="condition-button-wrapper">
      <input class="button" type="submit" value="絞込み" />
    </div>
  </div>
</form>
<form method="post">
  {% csrf_token %}
  {% if request.GET.visit_count %}
  <input type="hidden" name="visit_count" value="{{ request.GET.visit_count }}" />
  {% endif %}
  {% if request.GET.mediator %}
  <input type="hidden" name="mediator" value="{{ request.GET.mediator }}" />
  {% endif %}
  <div class="select-counter"><span class="all-count">{{ candidates|length|intcomma }}</span><span>人中 </span><span class="selected-count">{{ selected_candidates|length|intcomma }}</span><span>人選択</span></div>
  <div class="hint">※ メールアドレスが登録されているお客様のみ表示されています</div>
  <div class="candidate-list-wrapper">
    <table class="candidate-list">
      <tr>
        <th>
          <input class="select-all" type="checkbox" {% if all_selected %}checked {% endif %}/>
        </th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>来店回数</th>
        <th>紹介者</th>
      </tr>
      {% for c in candidates %}
      <tr>
        <td class="center">
          <input
            class="candidate-checkbox"
            name="{{ c.id }}"
            type="checkbox" {% if c.id in selected_candidates %}checked {% endif %}/>
        </td>
        <td>{{ c }}</td>
        <td>{{ c.mail }}</td>
        <td class="right">{{ c.visithistory_set.count }}</td>
        <td>{% if c.customer_of %}{{ c.customer_of }}{% else %}なし{% endif %}</td>
      </tr>
      {% empty %}
      <tr>
        <td class="no-guests" colspan="5">該当するお客様がいません</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="button-wrapper">
    <input type="submit" class="button" value="次へ"{% if selected_candidates|length == 0 %} disabled{% endif %}/>
  </div>
</form>
{% endblock %}
