<style>
input[type="text"], input[type="email"] {
  width: 100%
}
.label  {
  width: 28%;
}
.value {
  value: 72%;
}
.table_section {
  float: left;
  width: 100%;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.table_section table, .table_section td {
  border: none;
}

input[type="text"], input[type="email"] {
  width: 100%
}
.table_section-left, .table_section-right {
  float: left;
  width: 50%
}
.table_section-right {
  float: right;
}

</style>

<div class="table_section">
  <div class="table_section-left">
    <table><h4>基本情報</h4>
      {% if perms.ceylontime.view_customerguest %}
      {% if guest.phone %}
      <tr>
        <td class="label">TEL&ensp;&ensp;:</td>
        <td class="value">{{ guest.phone }}</td>
      </tr>
      {% endif %}
      {% if guest.cell_phone %}
      <tr>
        <td class="label">携帯&ensp;&ensp;:</td>
        <td class="value">{{ guest.cell_phone }}</td>
      </tr>
      {% endif %}
      {% if guest.mail %}
      <tr>
        <td class="label">EMail&ensp;&ensp;:</td>
        <td class="value">{{ guest.mail }}</td>
      </tr>
      {% endif %}
      {% if guest.gender %}
      <tr>
        <td class="label">性別&ensp;&ensp;:</td>
        <td class="value">{{ guest.get_gender_display }}</td>
      </tr>
      {% endif %}
      {% endif %}
      {% if guest.birthday %}
      <tr>
        <td class="label">生年月日&ensp;&ensp;:</td>
        <td class="value">{{ guest.birthday }}</td>
      </tr>
      {% endif %}
      {% if perms.ceylontime.view_customerguest %}
      {% if guest.postal_code %}
      <tr>
        <td class="label">郵便番号&ensp;&ensp;:</td>
        <td class="value">{{ guest.postal_code }}</td>
      </tr>
      {% endif %}
      {% if guest.address2 %}
      <tr>
        <td class="label">住所1&ensp;&ensp;:</td>
        <td class="value">{{ guest.address1 }}</td>
      </tr>
      <tr>
        <td class="label">住所2&ensp;&ensp;:</td>
        <td class="value">{{ guest.address2 }}</td>
      </tr>
      {% else %}
      <tr>
        <td class="label">住所&ensp;&ensp;:</td>
        <td class="value">{{ guest.address1 }}</td>
      </tr>
      {% endif %}
      {% if guest.job %}
      <tr>
        <td class="label">職業&ensp;&ensp;:</td>
        <td class="value">{{ guest.job }}</td>
      </tr>
      {% endif %}
      {% endif %}
    </table>
  </div>
  <div class="table_section-right">
    {% if perms.ceylontime.view_customerguest %}
    {% if guest.company %}
    <table><h4>勤務先情報</h4>
      {% if guest.company %}
      <tr>
        <td class="label">勤務先&ensp;&ensp;:</td>
        {% if guest.company_url %}
        <td class="value"><a target="_blank" href="{{ guest.company_url }}">{{ guest.company }}</a></td>
        {% else %}
        <td class="value">{{ guest.company }}</td>
        {% endif %}
      </tr>
      {% endif %}
      {% if guest.company_department %}
      <tr>
        <td class="label">部署&ensp;&ensp;:</td>
        <td class="value">{{ guest.company_department }}</td>
      </tr>
      {% endif %}
      {% if guest.company_roll %}
      <tr>
        <td class="label">役職&ensp;&ensp;:</td>
        <td class="value">{{ guest.company_roll }}</td>
      </tr>
      {% endif %}
      {% if guest.company_address %}
      <tr>
        <td class="label">住所&ensp;&ensp;:</td>
        <td class="value">{{ guest.company_address }}</td>
      </tr>
      {% endif %}
      {% if guest.company_tel %}
      <tr>
        <td class="label">TEL&ensp;&ensp;:</td>
        <td class="value">{{ guest.company_tel }}</td>
      </tr>
      {% endif %}
    </table>
    {% endif %}
    {% endif %}
  </div>
</div>