<style>
table,table td {
  border: none;
}
input[type="text"], input[type="email"] {
  width: 100%
}
table td {
  text-align: right;
}
.label  {
  width: 32%;
}
.value {
  value: 68%;
}
.table_section {
  float: left;
  width: 100%;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.table_section-left, .table_section-right {
  float: left;
  width: 49%
}
.table_section-right {
  float: right;
  margin-right: 3px;
}


</style>

<div class="table_section">
  <div class="table_section-left">
    <table><h4>基本情報</h4>
      {% if guest.phone %}
      <tr>
        <td class="label">{{ guest.phone.label_tag }}</td>
        <td class="value">{{ guest.phone }}</td>
      </tr>
      {% endif %}
      {% if guest.cell_phone %}
      <tr>
        <td class="label">{{ guest.cell_phone.label_tag }}</td>
        <td class="value">{{ guest.cell_phone }}</td>
      </tr>
      {% endif %}
      {% if guest.mail %}
      <tr>
        <td class="label">{{ guest.mail.label_tag }}</td>
        <td class="value">{{ guest.mail }}</td>
      </tr>
      {% endif %}
      {% if guest.gender %}
      <tr>
        <td class="label">{{ guest.gender.label_tag }}</td>
        <td class="value">{{ guest.get_gender_display }}</td>
      </tr>
      {% endif %}
      {% if guest.birthday %}
      <tr>
        <td class="label">{{ guest.birthday.label_tag }}</td>
        <td class="value">{{ guest.birthday }}</td>
      </tr>
      {% endif %}
      {% if guest.postal_code %}
      <tr>
        <td class="label">{{ guest.postal_code.label_tag }}</td>
        <td class="value">{{ guest.postal_code }}</td>
      </tr>
      {% endif %}
      <tr>
        <td class="label">{{ guest.address1.label_tag }}</td>
        <td class="value">{{ guest.address1 }}</td>
      </tr>
      {% if guest.address2 %}
      <tr>
        <td class="label">{{ guest.address2.label_tag }}</td>
        <td class="value">{{ guest.address2 }}</td>
      </tr>
      {% endif %}
      {% if guest.job %}
      <tr>
        <td class="label">{{ guest.job.label_tag }}</td>
        <td class="value">{{ guest.job }}</td>
      </tr>
      {% endif %}
    </table>
  </div>
  <div class="table_section-right">
    {% if guest.company %}
    <table><h4>勤務先情報</h4>
      {% if guest.company %}
      <tr>
        <td class="label">{{ guest.company.label_tag }}</td>
        <td class="value">{{ guest.company }}</td>
      </tr>
      {% endif %}
      {% if guest.company_department %}
      <tr>
        <td class="label">{{ guest.company_department.label_tag }}</td>
        <td class="value">{{ guest.company_department }}</td>
      </tr>
      {% endif %}
      {% if guest.company_roll %}
      <tr>
        <td class="label">{{ guest.company_roll.label_tag }}</td>
        <td class="value">{{ guest.company_roll }}</td>
      </tr>
      {% endif %}
      {% if guest.company_address %}
      <tr>
        <td class="label">{{ guest.company_address.label_tag }}</td>
        <td class="value">{{ guest.company_address }}</td>
      </tr>
      {% endif %}
      {% if guest.company_tel %}
      <tr>
        <td class="label">{{ guest.company_tel.label_tag }}</td>
        <td class="value">{{ guest.company_tel }}</td>
      </tr>
      {% endif %}
    </table>
  </div>
{% endif %}
</div>