<style>
.tab-container {
  border-bottom: 1px solid #aaa;
}
.tab-container ul li {
  display: inline-block;
  border-bottom: 3px solid transparent;
}
.tab-container ul li.selected {
  border-bottom: 3px solid #f9ca24;
}
.tab-container ul li a {
  text-decoration: none;
  padding: 16px 32px 12px;
  display: inline-block;
  color: #777;
  font-size: 1.2rem;
}
.tab-container ul li:hover a {
  background-color: #f9f9f9;
}
.tab-container ul li:not(.selected):hover {
  border-bottom: 3px solid #f9f9f9;
}
.tab-container ul li.selected a {
  color: #333;
}
</style>
<div class="tab-container">
  {% spaceless %}
  <ul>
    <li class="in_visit{% if tab_index == 0 %} selected{% endif %}"><a href="{% url 'ceylontime:home' %}">来店中のゲスト</a></li>
    <li class="history{% if tab_index == 1 %} selected{% endif %}"><a href="{% url 'ceylontime:visithistory-list' %}">来店履歴</a></li>
  </ul>
  {% endspaceless %}
</div>
