<script>
$(function() {
  checkStatus();
  $('input[name="exist_reservation"]').on('click', checkStatus);
});
function checkStatus() {
  var $checkbox = $('input[name="exist_reservation"]');
  var $field = $("#optional_fields");
  if( $checkbox.prop('checked') ){
    $field.show();
  }
  else {
    $field.hide();
  }
}
</script>
<style>
  .form-table {
    margin-bottom: 16px;
  }
  .form-table,
  .form-table tr,
  .form-table td {
    border: none;
  }
  .form-table td.label {
    width: 1%;
    white-space: nowrap;
  }
</style>
<h2>{{ visithistory.in_shop }} : <a href="{% url 'ceylontime:guest-detail' visithistory.guest_name.id %}">{{ visithistory.guest_name }}</a> 様</h2>
<form action="" method="post">
  {% csrf_token %}
  <table class="form-table">
    <tbody>
      {% for field in form %}
      {% if field.name == 'reservation_remark' %}
      <tr id='optional_fields'>
        <td class="label">{{ field.label_tag }}</td><td>{{ field }}{{ field.error }}</td>
      </tr>
      {% elif field.name == 'salesperson' and fields.customer_of.pk == 3 %}
      {% else %}
      <tr>
        <td class="label">{{ field.label_tag }}</td><td>{{ field }}{{ field.error }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <input class="button" type="submit" value="登録" />
  <a href="{% url 'ceylontime:home' %}"><input class="button" type="button" value="キャンセル"></a>
</form>
