{% extends 'base_generic.html' %}

{% load static %}

{% block javascript_generic %}
<script>
  {% if request.user.is_authenticated %}
  var csrftoken = '{{ csrf_token }}';
  {% else %}
  var csrftoken = null;
  {% endif %}
</script>
<script type="text/javascript" src="{% static 'ceylontime/js/ajax-common.js' %}"></script>
<script type="text/javascript" src="{% static 'ceylontime/js/date.format.js' %}"></script>
<script>
  var incomingString = '';
  var scanFunc = function(e) {
    if (e.which !== 0 && e.key.length == 1) {
      e.stopPropagation();
      e.preventDefault();
      if (incomingString.length == 0) {
        setTimeout(function() {
          incomingString = '';
        }, 500);
      }
      incomingString += e.key;
      // TODO magic value for access token length: 24
      if (incomingString.length == 24) {
        getUser(incomingString);
      }
    }
  };
  var numPadFunc = function(e) {
    if (e.keyCode >= 48 && e.keyCode <= 57) {
      var num = String(e.keyCode - 48);
      $('.numpad .num.' + num).addClass('num-flash');
      setTimeout(function() {
        $('.numpad .num.' + num).removeClass('num-flash');
      }, 250);
      inputNum(num);
    } else if (e.keyCode == 8) {
      del();
      $('.numpad .del').addClass('ctrl-flash');
      setTimeout(function() {
        $('.numpad .del').removeClass('ctrl-flash');
      }, 250);
    } else if (e.keyCode == 67) {
      clear();
      $('.numpad .clear').addClass('ctrl-flash');
      setTimeout(function() {
        $('.numpad .clear').removeClass('ctrl-flash');
      }, 250);
    }
  };
  $(function() {
    $('#qr_scan_status').on('click', function() {
      incomingString = '';
      $(document).on('keydown', scanFunc);
      $(document).off('keydown', numPadFunc);
      $('<div/>').attr('id', 'qr_scan_background').appendTo('body');
      $('<div/>')
        .html(
          '<div>QRコードリーダーにカードをかざしてください</div>' +
          '<div style="margin-top: 32px;"><span class="button close-button">終了</span></div>'
        )
        .appendTo('#qr_scan_background');
      $('#qr_scan_background .close-button').on('click', function(e) {
        e.preventDefault();
        $(document).off('keydown', scanFunc);
        $('#qr_scan_background').remove();
      });
    });
    $('.footer-button.ok, .footer-button.cancel').on('click', function(e) {
      e.preventDefault();
      $(document).off('keydown', numPadFunc);
      $('#result_dialog, .result-bg').removeClass('show');
      setTimeout(function() {
        $('#result_dialog, .result-bg').hide();
        $('.numpad .number-of-visitor .value').html('1');
        $('#result_dialog #family_list').empty();
        $('#result_dialog').removeClass('with-family');
      }, 600);
      if ($(this).hasClass('ok')) {
        createVisitHistory($('#result').data('guest_id'));
      }
    });
  });
  $(function() {
    $('.numpad .num').on('click', function(e) {
      e.preventDefault();
      var num = $(this).html();
      inputNum(num);
    });
    $('.numpad .del').on('click', function(e) {
      e.preventDefault();
      del();
    });
    $('.numpad .clear').on('click', function(e) {
      e.preventDefault();
      clear();
    });
    $('.numpad .ok').on('click', function(e) {
      e.preventDefault();
      enter();
    });
  });
  function inputNum(num) {
    var current = $('.numpad .number-of-visitor .value').html();
    if (current == '0' || $('.numpad').hasClass('init')) current = '';
    if (current.length < 5) {
      $('.numpad .number-of-visitor .value').html(current + num);
    }
    $('.numpad').removeClass('init');
  }
  function del() {
    var current = $('.numpad .number-of-visitor .value').html();
    var deletedNum = current.substring(0, current.length - 1);
    if (deletedNum.length == 0) deletedNum = '0'
    $('.numpad .number-of-visitor .value').html(deletedNum);
  }
  function clear() {
    $('.numpad .number-of-visitor .value').html('0');
  }
  function enter() {
    var numberOfVisitor = $('.numpad .number-of-visitor .value').html();
    alert(numberOfVisitor);
    $('.numpad .number-of-visitor .value').html('1');
  }

  function getUser(token) {
    $('#qr_scan_background').remove();
    $(document).off('keydown', scanFunc);
    incomingString = '';
    $.ajax({
      type: 'GET',
      url: '/guests/search/',
      data: { 'token': token },
      dataType: 'json',
      success: function(data) {
        console.log(data);
        $('#result').data('guest_id', data.id);
        $('#result #first_name_kana').html(data.first_name_kana);
        $('#result #last_name_kana').html(data.last_name_kana);
        $('#result #first_name').html(data.first_name);
        $('#result #last_name').html(data.last_name);
        if (data.family.length > 0) {
          $('#result_dialog').addClass('with-family');
          for (var i = 0; i < data.family.length; i++) {
            $('#result_dialog #family_list').append(
              '<li>' + data.family[i] + '</li>'
            );
          }
        }
        setTimeout(function() {
          $(document).on('keydown', numPadFunc);
        }, 1000);
        $('#result_dialog, .result-bg').show().addClass('show');
        var audio = new Audio('/media/audio/notification.mp3');
        audio.play();
      },
      error: function(response) {
        stype = 1;
        setTimeout(captureToCanvas, 1000);
      },
    });
  }

  function createVisitHistory(guestId) {
    var today = new Date();
    var datetimeString = dateFormat(new Date(), 'yyyy-mm-dd HH:MM:ss');
    var numberOfVisitor = parseInt($('.numpad .number-of-visitor .value').html());
    var formData = new FormData();
    formData.append('guest_name', guestId);
    formData.append('visit_date', datetimeString);
    formData.append('number_of_visitors', numberOfVisitor);
    formData.append('in_shop', 3)
    $.ajax({
      type: 'POST',
      url: '/new/history/',
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      success: function(data) {
        console.log(data);
        window.location = data['success_url'];
      },
      error: function(response) {
      },
    });
  }
</script>
{% block javascript %}
{% endblock %}
{% endblock %}

{% block css_generic %}
<link rel="stylesheet" type="text/css" href="{% static 'ceylontime/css/qr-identification.style.css' %}" />
{% block css %}
{% endblock %}
{% endblock %}

{% block sidebar-content %}
<div id="qr_scan_status" title="QRコードをスキャン">
  <img src="{% static 'ceylontime/images/qr-scan.png' %}" />
</div>
{% endblock %}

{% block content_generic %}
{% include 'snippets/qr_identification.html' %}
{% block content %}
{% endblock %}
{% endblock %}
