{% load ceylontime_tags %}
<!DOCTYPE html>
<head>
    {% block title %}<title>Ceylon time</title>{% endblock title %}
    <meta charset="uft-8">

    {% load static %}

    <script type="text/javascript" src="{% static 'ceylontime/js/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'ceylontime/js/plugins/dynamic-search-box.plugin.js' %}"></script>
    {% block javascript_generic %}
    {% endblock %}
    <script>
      $(function() {
        if ($('.message-popup').length > 0) {
          $('.message-popup').addClass('wipe-in');
          var offset = -16 + -30 * $('.message-popup li').length;
          if ($('.message-popup').hasClass('close-by-button')) {
            var $closeButton = $('<div/>')
              .addClass('close-button')
              .on('click', function() {
                $('.message-popup').css('top', offset + 'px');
                setTimeout(function() { $('.message-popup').remove(); }, 4000);
              });
            $('.message-popup').append($closeButton);
          } else {
            setTimeout(function () {
              $('.message-popup').css('top', offset + 'px');
            }, 3000);
            setTimeout(function() {
              $('.message-popup').remove();
            }, 4000);
          }
        }
        $('.sidebar-wrapper .username').on('click', function() {
          $('.sidebar-wrapper .sidebar-nav').show();
          $('<div class="sidebar-background">').on('click', function(e) {
            e.preventDefault();
            $('.sidebar-wrapper .sidebar-nav').hide();
            $(this).remove();
          }).appendTo('body');
        });
        {% if user.is_authenticated %}
        $('#dynamic_search_box').dynamicSearchBox('{% url "ceylontime:guest-keyword-search" %}', '来店者氏名(カナ)を入力して検索');
        {% endif %}
      });
      function splitByCommas(num) {
          var str = num.toString().split('.');
          if (str[0].length >= 4) {
              str[0] = str[0].replace(/(\d)(?=(\d{3})+$)/g, '$1,');
          }
          if (str[1] && str[1].length >= 5) {
              str[1] = str[1].replace(/(\d{3})/g, '$1 ');
          }
          return str.join('.');
      }
    </script>

    <link rel="stylesheet" href="{% static 'ceylontime/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'ceylontime/css/plugins/dynamic-search-box.plugin.css' %}">
    <style>
      .message-popup {
        position: fixed;
        top: -64px;
        width: 100%;
        text-align: center;
        -webkit-transition: all ease-in-out 0.35s;
        -moz-transition: all ease-in-out 0.35s;
        -ms-transition: all ease-in-out 0.35s;
        -o-transition: all ease-in-out 0.35s;
        transition: all ease-in-out 0.35s;
        z-index: 100000;
      }
      .message-popup.wipe-in {
        top: 0px;
      }
      .message-popup ul {
        display: inline-block;
        width: 100%;
        padding: 7px 16px;
        text-align: center;
        white-space: nowrap;
        background-color: #E1F5FE;
        background-clip: padding-box;
        border: 1px solid #29B6F6;
        box-shadow: 0 3px 12px rgba(0,0,0,0.15);
        font-size: 0.9rem;
        list-style: none;
      }
      .message-popup.error ul {
        background-color: #FCE4EC;
        border: 1px solid #C2185B;
      }
      .message-popup ul li {
        padding: 4px 0;
        color: #0288D1;
      }
      .message-popup.error ul li {
        color: #911;
      }
      .message-popup .close-button {
        position: absolute;
        right: 8px;
        top: 8px;
        background-color: rgb(224, 183, 197);
        width: 24px;
        height: 24px;
        border-radius: 12px;
      }
      .message-popup .close-button::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 3px;
        background-color: #FCE4EC;
        border-radius: 1.5px;
        transform: rotate(45deg);
        left: 3px;
        top: 11px;
      }
      .message-popup .close-button::after {
        content: '';
        position: absolute;
        width: 18px;
        height: 3px;
        background-color: #FCE4EC;
        border-radius: 1.5px;
        transform: rotate(-45deg);
        left: 3px;
        top: 11px;
      }
    </style>
    {% block css_generic %}
    {% endblock %}
</head>

<body>
    {% if messages %}
    <div class="message-popup {{ messages|message_level }}">
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <header>
        <div class="content">
          <a class="logo-link" href="{% url 'ceylontime:home' %}"><img class="logo" src="{% static 'ceylontime/images/logo.png' %}" alt="Ceylon time guest checker"/></a>
          {% if user.is_authenticated %}
          <span id="dynamic_search_box"></span>
          {% endif %}
          <div class="col-sm-2 sidebar-wrapper">
            {% block sidebar-content %}{% endblock %}
            {% if user.is_authenticated %}
            <span class="username">{{ user.get_username }}</span>
            {% block sidebar %}
            <ul class="sidebar-nav">
              <li><a href="{% url 'ceylontime:home' %}">ホーム</a></li>
              <li><a href="{% url 'ceylontime:new-visit' %}">新規来店登録</a></li>
              <li><a href="{% url 'ceylontime:guest-list' %}">顧客一覧</a></li>
              {% if perms.ceylontime.add_dmtemplate %}
              <li><a href="{% url 'ceylontime:dm-template-list' %}">DMテンプレート管理</a></li>
              {% endif %}
              {% if perms.ceylontime.add_dmhistory %}
              <li><a href="{% url 'ceylontime:dm-setup' %}">新規DM送信</a></li>
              <li><a href="{% url 'ceylontime:dm-list' %}">DM送信履歴</a></li>
              {% endif %}
              <li><a href="{% url 'account_logout'%}?next={{request.path}}">サインアウト</a></li>
            </ul>
            {% endblock sidebar %}
            {% else %}
            <span><a href="{% url 'account_login'%}?next={{request.path}}">Signin</a></span>
            {% endif %}
          </div>
        </div>
    </header>
    <div>
    <!-- TODO create searching box -->
    </div>

    <div class="col-sm-10 content main">
        {% block content_generic %}{% endblock %}
        {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
        {% endblock %}
    </div>

</body>
